# ignorar (exluir) todo
*

# incluir todas las carpetas
!**/

# excluir las siguientes carpetas
**/obj/
**/bin/
**/.vs/

# incluir todos los siguientes archivos
!*.cs
!*.csproj
!*.sln
!*.json
!*.JPEG
